body {
    font-family: "Typewriter", "Caviar Dreams", sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #ffc4d1;
    text-align: center;
}

h1 {
    color: #11151C;
}

p {
    font-size: 18px;
    color: ##11151C;
}

.name {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
