body {
    font-family: Typewriter, Caviar Dreams;
    margin: 0;
    padding: 0;
    background-color: #ffc4d1;
    text-align: center;
}

h1 {
    color: #11151C;
}

p {
    font-size: 18px;
    color: #FBFBFF;
}

.name {
    color: #FBFBFF;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
