body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: absolute;
    margin: 0;
    paddling: 0;
    background-color: #dd0457e3;
}

header {
    background-color: #e789adf5;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
    paddling: 20px;
    background: #f396aa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
